.create-shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 3px 3px;
  padding: 0px 5px;
  height: 5vh;
  min-height: 30px;
  width: 30vw;
  min-width: 200px;
  outline: 0.1px solid black;
  border: 0px;
  border-radius: 10px;
  background-color: #00b7b4b8;
  text-align: center;
  font-size: 17px;
}

.form input.storeHours {
  width: 12vw;
  min-width: 90px;
}

.form button {
  width: 15vw;
  margin-top: 20px;
  align-self: center;
  background-color: rgb(33, 218, 46);
}
