.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 8vh;
  margin: 0;
  box-sizing: border-box;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #018790;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
}

.user-info h2 {
  color: #ffffff;
  margin-left: 10px;
}

.user-info button {
  padding: 10px 20px;
  background-color: #005461;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-weight: bold;
}

.user-info button:hover {
  background-color: #00b327;
}

.shops-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}

.user-info-buttons {
  display: flex;
}

.my-appointments-area h2 {
  text-align: center;
}

.home-appointment-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 20px 30px;
}

.home-appointment-card-container {
  display: flex;
}

/* // responsive */

/* @media (max-width: 768px) {
  .user-info{

  }
} */
