.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.container input {
  display: flex;
  height: 5vh;
  width: 20vw;
  border-radius: 10px;
  margin: 15px 0px;
  outline: none;
  border: none;
  background-color: #d5dbd5;
  min-width: 250px;
  text-align: center;
  color: black;
}

.container button {
  background-color: #00d32e;
  color: white;
}

.auth-link {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.auth-link a {
  color: #00d32e;
  text-decoration: none;
  font-weight: 600;
}

.auth-link a:hover {
  text-decoration: underline;
}
