.user-appointments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-appointments-container button {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.user-appointments-card-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  justify-content: space-around;
  margin-top: 40px;
}

.user-appointments-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #016f80;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-top: 30px;
  color: white;
}
